h3, h1 {
    font-family: 'Cabin';
    color: white;
}


.add-to-pkg-button {
    
    background-color: #7499d5;
    border: none;
    color: white;
    padding: 2rem 4rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Rubik';
    /* margin: 0% 10%; */
}

.add-to-pkg-button-wrapper :hover {
    color: #444eaa;
    background-color: #2B2D30;
}


.pkg-wrapper {
    background-color: #2B2D30;
    /* margin: 0% 40%; */
    width: 20rem;
    display: grid;
    justify-items: center;
    border-radius: 10px;
    padding: 2% 1%;
    margin-bottom: 5%;
}

.pkg-name {
    text-align: center;
    color: white;
    font-family: 'Cabin';
    font-size: 2rem;
    font-weight: bold;
}

.pkg-summary {
    text-align: center;
    color: white;
    font-family: 'Cabin';
    font-size: 1rem;
}

.pkg-button{
    font-size: large;
    background-color: #c6394d;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10%;
}
